@import "colors.scss";

footer{
    height: 200px;
    background-color: $whiteCo;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding:2rem;

    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;

        >h1{
            text-transform: uppercase;   
            font:800 2rem $roboFon;
            color: $blueCo;
        }

        >p{
            font:500 1.5rem $roboFon;
        }

        h5{
            text-align: center;
            font:300 2rem $roboFon;
        }

        >div{
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                color: $blueCo;
                font:700 1rem $font2;   

                &:hover{
                    color: $darkBlue;
                }
            }


        }

        // a{
        //     color: white;
        // }
    }
}